exportPattern("^[[:alpha:]]+")
S3method(predict, EMCluster)
S3method(predict, FuzzyCluster)
S3method(predict, hierarchicalCluster)
S3method(predict, nmfCluster)
S3method(predict, kmeansCluster)
S3method(predict, pamCluster)
S3method(predict, tsneReductor)

importFrom("stats", "predict")
